.root {
  --side: 16px;
  --icon-top: -2px;
  --icon-left: 0;
  --border: 1px solid #6b7f91;

  position: relative;
}

.root input {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.root input + label {
  display: inline-block;
  min-height: var(--side);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* Grey/90 */
  color: #2c343c;
  padding-left: calc(var(--side) + 8px);
  cursor: pointer;
}

.root input + label::before,
.root input + label::after {
  content: "";
  position: absolute;
}

.root input + label::before {
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  /* Grey/50 */
  border: var(--border);
  background-color: #ffffff;
  top: var(--icon-top);
  left: var(--icon-left);
  transition: border 0.2s ease-in-out;
}

.root input + label::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* Grey/90 */
  background-color: #2c343c;
  transform: scale(0);
  left: 4px;
  top: 2px;
  transition: transform 0.2s ease-in-out;
}

.root input:checked + label::before {
  /* Primary/90 * */
  border-color: #2c343c;
}

.root input:checked + label::after {
  transform: scale(1);
}

.radioWave {
  position: absolute;
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  top: var(--icon-top);
  left: var(--icon-left);
  border: var(--border);
  z-index: -1;
  pointer-events: none;
}

.root input:checked ~ .radioWave {
  transform: scale(1.8);
  filter: blur(1px);
  opacity: 0;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}
