@import "../../index.css";

.root {
  --primary: #ffdd00;
  --primary-hover: #ffe74d;
  --secondary: #2c343c;
  --secondary-hover: #4c5a68;

  --lg: 48px;
  --md: 40px;
  --sm: 32px;

  --font-hack: 4px;
  --font-hack-with-border: calc(var(--font-hack) + 2px);

  background: none;
  box-shadow: none;

  position: relative;
  display: inline-block;
  text-align: center;
  font: 500 1.2em var(--font);
  border-radius: 2px;
  cursor: pointer;
  padding: var(--font-hack) 30px 0;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, border 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.root:focus {
  outline: none;
}

.root svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* types */

.primary {
  background-color: var(--primary);
  color: #2c343c;
}

.primary:focus {
  box-shadow: 0 0 2px 1px var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary);
  color: #ffffff;
}

.secondary:focus {
  box-shadow: 0 0 2px 1px var(--secondary);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

.secondary svg path {
  fill: #ffffff;
}

.outlined {
  color: #4e5c69;
  background-color: transparent;
  border-color: #4e5c69;
}

.outlined:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

.outlined-light {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.outlined-light:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

.outlined-light:hover {
  background-color: #ffffff;
  color: #4e5c69;
}

/* sizes */

.sm {
  line-height: calc(var(--sm) - var(--font-hack-with-border));
  font-size: 12px;
}

.md {
  line-height: calc(var(--md) - var(--font-hack-with-border));
  font-size: 14px;
}

.lg {
  line-height: calc(var(--lg) - var(--font-hack-with-border));
  font-size: 16px;
}

.fullWidth {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.disabled,
.isLoading {
  opacity: 0.5;
  cursor: default;
}

.isLoading {
  color: transparent;
}

.isLoading svg {
  opacity: 1;
}
