.root {
  --primary: #ffdd00;
  --primary-hover: #ffe74d;
  --secondary: #2c343c;
  --secondary-hover: #4c5a68;

  --lg: 48px;
  --md: 40px;
  --sm: 32px;

  background: none;
  border: none;
  box-shadow: none;

  font-family: var(--fontHelvetica);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  letter-spacing: 0.25px;
  cursor: pointer;
  padding: 5px 30px 0;
  transition: all 0.2s ease-in-out;
}

.root:focus {
  outline: none;
}

/* types */

.primary {
  background-color: var(--primary);
  color: #2c343c;
}

.primary:focus {
  box-shadow: 0 0 2px 1px var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary);
  color: #ffffff;
}

.secondary:focus {
  box-shadow: 0 0 2px 1px var(--secondary);
}

.secondary:hover {
  background-color: var(--secondary-hover);
}

.secondary svg path {
  fill: #ffffff;
}

.outlined {
  color: #4e5c69;
  background-color: #ffffff;
  border: 1px solid #4e5c69;
}

.outlined:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

/* sizes */

.sm {
  height: var(--sm);
  font-size: 12px;
  line-height: 10px;
}

.md {
  height: var(--md);
  font-size: 14px;
  line-height: 16px;
}

.lg {
  height: var(--lg);
  font-size: 16px;
  line-height: 24px;
}

.fullWidth {
  width: 100%;
}

.disabled,
.isLoading {
  opacity: 0.5;
  cursor: default;
}
