.root {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
}

.tab {
  border: none;
  outline: 0;

  background-color: #eeeff1;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 32px;
  padding: 4px 12px 0;
  /* Grey/90 */
  color: #2c343c;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.tab.active,
.tab:hover {
  background-color: #ffdd00;
}
