:root {
  --font: Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
}

body {
  margin: 0;
  font-family: Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Button_root__2bb-J {
  --primary: #ffdd00;
  --primary-hover: #ffe74d;
  --secondary: #2c343c;
  --secondary-hover: #4c5a68;

  --lg: 48px;
  --md: 40px;
  --sm: 32px;

  --font-hack: 4px;
  --font-hack-with-border: calc(var(--font-hack) + 2px);

  background: none;
  box-shadow: none;

  position: relative;
  display: inline-block;
  font: 500 1.2em var(--font);
  border-radius: 2px;
  cursor: pointer;
  padding: 0 30px;
  padding-top: var(--font-hack);
  border: 1px solid transparent;
  letter-spacing: 0.25px;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.Button_root__2bb-J:focus {
  outline: none;
}

.Button_root__2bb-J svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* types */

.Button_primary__1mTxz {
  background-color: var(--primary);
  color: #2c343c;
}

.Button_primary__1mTxz:focus {
  box-shadow: 0 0 2px 1px var(--primary);
}

.Button_primary__1mTxz:hover {
  background-color: var(--primary-hover);
}

.Button_secondary__2t2Od {
  background-color: var(--secondary);
  color: #ffffff;
}

.Button_secondary__2t2Od:focus {
  box-shadow: 0 0 2px 1px var(--secondary);
}

.Button_secondary__2t2Od:hover {
  background-color: var(--secondary-hover);
}

.Button_secondary__2t2Od svg path {
  fill: #ffffff;
}

.Button_outlined__1slbo {
  color: #4e5c69;
  background-color: #ffffff;
  border-color: #4e5c69;
}

.Button_outlined__1slbo:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

/* sizes */

.Button_sm__ns8od {
  line-height: calc(var(--sm) - var(--font-hack-with-border));
  font-size: 12px;
}

.Button_md__39LYy {
  line-height: calc(var(--md) - var(--font-hack-with-border));
  font-size: 14px;
}

.Button_lg__OTZ8R {
  line-height: calc(var(--lg) - var(--font-hack-with-border));
  font-size: 16px;
}

.Button_fullWidth__1dcpM {
  width: 100%;
}

.Button_disabled__2c3jr,
.Button_isLoading__3BkAW {
  opacity: 0.5;
  cursor: default;
}

.Button_isLoading__3BkAW {
  color: transparent;
}

.Button_isLoading__3BkAW svg {
  opacity: 1;
}

.PieChart_root__3OWnC {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.PieChart_svg__2HsPe {
  max-width: 100%;
}

.PieChart_circle__Ix0aG,
.PieChart_circleBg__2--t1 {
  fill: none;
  transform: rotate(-90deg);
  transform-origin: center;
}

.PieChart_text__29tkp {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.PieChart_textProgress__1AN3f {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #2c343c;
}

.PieChart_textDescription__2SjBf {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2c343c;
}

.Select_root__1c3JW {
}

.Table_table__3cVv6 {
  width: 100%;
  border-collapse: collapse;
}

.Table_thead__1OMLY {
  border-bottom: 1px solid #eeeff1;
}

.Table_th__2sVy3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #4e5c69;
  padding: 12px 20px;
  text-align: left;
}

.Table_td__aBNTH {
  font-size: 12px;
  line-height: 16px;
  color: #2c343c;
  padding: 12px 20px;
  text-align: left;
}

.Table_td__aBNTH span {
  background-color: #eeeff1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 8px 4px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #3f4954;
}

@media (max-width: 800px) {
  .Table_thead__1OMLY {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  .Table_tr__12T8R {
    border-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 28px;
  }

  .Table_td__aBNTH {
    border: 1px solid #eeeff1;
    margin: 0 -1px -1px 0;
    padding: 32px 8px 8px;
    position: relative;
  }

  .Table_td__aBNTH span {
    display: block;
  }

  .Table_tdNumber__1VpsC {
    display: none;
  }

  .Table_tdRowName__2OJND {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15px;
  }

  .Table_tdRowName__2OJND span {
    display: none;
  }
}


/*# sourceMappingURL=main.26de4f4f.chunk.css.map*/