*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font: Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-family: var(--font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Button_root__2bb-J {
  --primary: #ffdd00;
  --primary-hover: #ffe74d;
  --secondary: #2c343c;
  --secondary-hover: #4c5a68;

  --lg: 48px;
  --md: 40px;
  --sm: 32px;

  --font-hack: 4px;
  --font-hack-with-border: calc(var(--font-hack) + 2px);

  background: none;
  box-shadow: none;

  position: relative;
  display: inline-block;
  text-align: center;
  font: 500 1.2em var(--font);
  border-radius: 2px;
  cursor: pointer;
  padding: var(--font-hack) 30px 0;
  border: 1px solid transparent;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, border 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.Button_root__2bb-J:focus {
  outline: none;
}

.Button_root__2bb-J svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* types */

.Button_primary__1mTxz {
  background-color: var(--primary);
  color: #2c343c;
}

.Button_primary__1mTxz:focus {
  box-shadow: 0 0 2px 1px var(--primary);
}

.Button_primary__1mTxz:hover {
  background-color: var(--primary-hover);
}

.Button_secondary__2t2Od {
  background-color: var(--secondary);
  color: #ffffff;
}

.Button_secondary__2t2Od:focus {
  box-shadow: 0 0 2px 1px var(--secondary);
}

.Button_secondary__2t2Od:hover {
  background-color: var(--secondary-hover);
}

.Button_secondary__2t2Od svg path {
  fill: #ffffff;
}

.Button_outlined__1slbo {
  color: #4e5c69;
  background-color: transparent;
  border-color: #4e5c69;
}

.Button_outlined__1slbo:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

.Button_outlined-light__3hr8C {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}

.Button_outlined-light__3hr8C:focus {
  box-shadow: 0 0 2px 1px #4e5c69;
}

.Button_outlined-light__3hr8C:hover {
  background-color: #ffffff;
  color: #4e5c69;
}

/* sizes */

.Button_sm__ns8od {
  line-height: calc(var(--sm) - var(--font-hack-with-border));
  font-size: 12px;
}

.Button_md__39LYy {
  line-height: calc(var(--md) - var(--font-hack-with-border));
  font-size: 14px;
}

.Button_lg__OTZ8R {
  line-height: calc(var(--lg) - var(--font-hack-with-border));
  font-size: 16px;
}

.Button_fullWidth__1dcpM {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.Button_disabled__2c3jr,
.Button_isLoading__3BkAW {
  opacity: 0.5;
  cursor: default;
}

.Button_isLoading__3BkAW {
  color: transparent;
}

.Button_isLoading__3BkAW svg {
  opacity: 1;
}

.Form_formGroup__1iZnP:not(:last-child) {
  margin-bottom: 10px;
}

.Checkbox_root__30wAA {
  --side: 16px;
  --icon-top: -1px;
  --icon-left: 0;
  --border: 1px solid #6b7f91;

  position: relative;
  line-height: 16px;
}

.Checkbox_root__30wAA input {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.Checkbox_root__30wAA input + label {
  margin: 0;
  display: inline-block;
  min-height: var(--side);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* Grey/90 */
  color: #2c343c;
  padding-left: calc(var(--side) + 8px);
  cursor: pointer;
}

.Checkbox_root__30wAA input + label::before,
.Checkbox_root__30wAA input + label::after {
  content: "";
  position: absolute;
}

.Checkbox_root__30wAA input + label::before {
  width: var(--side);
  height: var(--side);
  /* Grey/50 */
  border: var(--border);
  border-radius: 2px;
  background-color: #ffffff;
  top: var(--icon-top);
  left: var(--icon-left);
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.Checkbox_root__30wAA input + label::after {
  width: 10px;
  height: 5px;
  /* Grey/90 */
  border: 2px solid #2c343c;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg) scale(0);
  left: 3px;
  top: 3px;
  transition: transform 0.2s ease-in-out;
}

.Checkbox_root__30wAA input:checked + label::before {
  /* Primary/60 * */
  background-color: #ffdd00;
  border-color: #ffdd00;
}

.Checkbox_root__30wAA input:checked + label::after {
  transform: rotate(-45deg) scale(1);
}

.Checkbox_checkboxWave__1bVoC {
  position: absolute;
  width: var(--side);
  height: var(--side);
  border-radius: 2px;
  top: var(--icon-top);
  left: var(--icon-left);
  border: var(--border);
  pointer-events: none;
}

.Checkbox_root__30wAA input:checked ~ .Checkbox_checkboxWave__1bVoC {
  transform: scale(1.5);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
}

.PieChart_root__3OWnC {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.PieChart_svg__2HsPe {
  max-width: 100%;
}

.PieChart_circle__Ix0aG,
.PieChart_circleBg__2--t1 {
  fill: none;
  transform: rotate(-90deg);
  transform-origin: center;
}

.PieChart_text__29tkp {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.PieChart_textProgress__1AN3f {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #2c343c;
}

.PieChart_textDescription__2SjBf {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #2c343c;
}

.Radio_root__1xtRE {
  --side: 16px;
  --icon-top: -1px;
  --icon-left: 0;
  --border: 1px solid #6b7f91;

  position: relative;
  line-height: 16px;
}

.Radio_root__1xtRE input {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.Radio_root__1xtRE input + label {
  margin: 0;
  display: inline-block;
  min-height: var(--side);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* Grey/90 */
  color: #2c343c;
  padding-left: calc(var(--side) + 8px);
  cursor: pointer;
}

.Radio_root__1xtRE input + label::before,
.Radio_root__1xtRE input + label::after {
  content: "";
  position: absolute;
}

.Radio_root__1xtRE input + label::before {
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  /* Grey/50 */
  border: var(--border);
  background-color: #ffffff;
  top: var(--icon-top);
  left: var(--icon-left);
  transition: border 0.2s ease-in-out;
}

.Radio_root__1xtRE input + label::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* Grey/90 */
  background-color: #2c343c;
  transform: scale(0);
  left: 3px;
  top: 2px;
  transition: transform 0.2s ease-in-out;
}

.Radio_root__1xtRE input:checked + label::before {
  /* Primary/90 * */
  border-color: #2c343c;
}

.Radio_root__1xtRE input:checked + label::after {
  transform: scale(1);
}

.Radio_radioWave__1_t-4 {
  position: absolute;
  width: var(--side);
  height: var(--side);
  border-radius: 50%;
  top: var(--icon-top);
  left: var(--icon-left);
  border: var(--border);
  pointer-events: none;
}

.Radio_root__1xtRE input:checked ~ .Radio_radioWave__1_t-4 {
  transform: scale(1.8);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out,
    opacity 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
}

.Rating_root__1Kw3L {
  display: flex;
}

.Rating_star__2ZZ05:not(:last-child) {
  margin-right: 4px;
}

.Rating_star__2ZZ05 input {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.Rating_star__2ZZ05 label {
  display: block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.Rating_star__2ZZ05 label svg path {
  transition: fill 0.2s ease-in-out;
}

.Rating_star__2ZZ05 label:hover {
  transform: scale(1.1);
}

.Rating_star__2ZZ05 label:active {
  transition: transform 0s;
  transform: scale(1.2);
}

.Rating_star__2ZZ05.Rating_active__1IrVx label svg path {
  fill: #ffdd00;
}

.Select_root__1c3JW {
}

.Table_root__3ukJ8 {
  background: #ffffff;
  border: 1px solid #eeeff1;
  border-radius: 2px;
}

.Table_table__3cVv6 {
  width: 100%;
  border-collapse: collapse;
}

.Table_trDisabled__2NHQ- {
  background-color: #eeeeee;
}

.Table_th__2sVy3 {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #4e5c69;
  padding: 12px 20px;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: inset 0 -1px 0 0 #eeeff1;
}

.Table_td__aBNTH {
  font-size: 12px;
  line-height: 16px;
  color: #2c343c;
  padding: 12px 20px;
  text-align: left;
}

.Table_td__aBNTH span {
  background-color: #eeeff1;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 8px 4px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #3f4954;
}

.Table_trDisabled__2NHQ- td,
.Table_trDisabled__2NHQ- span {
  color: #aaaaaa;
}

@media (max-width: 800px) {
  .Table_thead__1OMLY {
    left: -9999px;
    position: absolute;
    visibility: hidden;
  }

  .Table_tr__12T8R {
    border-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .Table_tr__12T8R:not(:last-child) {
    margin-bottom: 28px;
  }

  .Table_td__aBNTH {
    border: 1px solid #eeeff1;
    margin: 0 -1px -1px 0;
    padding: 32px 8px 8px;
    position: relative;
  }

  .Table_td__aBNTH span {
    display: block;
  }

  .Table_tdNumber__1VpsC {
    display: none;
  }

  .Table_tdRowName__2OJND {
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.15px;
  }

  .Table_tdRowName__2OJND span {
    display: none;
  }
}

.Tabs_root__1Lwap {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
}

.Tabs_tab__2wXzT {
  border: none;
  outline: 0;

  background-color: #eeeff1;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 32px;
  padding: 4px 12px 0;
  /* Grey/90 */
  color: #2c343c;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.Tabs_tab__2wXzT:focus {
  outline: 0;
}

.Tabs_tab__2wXzT.Tabs_active__1v0tH,
.Tabs_tab__2wXzT:hover {
  background-color: #ffdd00;
}

.Textarea_root__37FxY {
  --padding: 10px 12px;
  --fontWeight: 400;
  --fontSize: 14px;
  --lineHeight: 16px;

  --width: 100%;
  --minHeight: 80px;

  overflow: hidden;
}

.Textarea_field__Ftq5y {
  position: relative;
}

.Textarea_fieldContent__G2BFf {
  width: var(--width);
  min-height: var(--minHeight);
  padding: var(--padding);
  font-family: var(--font);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  opacity: 0;
}

.Textarea_field__Ftq5y textarea {
  position: absolute;
  top: 0;
  left: 0;
  /* BG/White */
  background: #ffffff;
  /* Grey/30 */
  border: 1px solid #98a6b3;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  font-family: var(--font);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  /* Grey/90 */
  color: #2c343c;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: border 0.2s ease-in-out;
}

.Textarea_field__Ftq5y textarea::-webkit-scrollbar {
  display: none;
}

.Textarea_field__Ftq5y textarea:focus {
  outline: none;
  border-color: #ffdd00;
}

.Textarea_field__Ftq5y textarea + label {
  margin: 0;
  position: absolute;
  top: 1px;
  left: 1px;
  width: calc(100% - 12px);
  height: calc(100% - 4px);
  padding: var(--padding);
  font-family: var(--font);
  font-weight: var(--fontWeight);
  font-size: var(--fontSize);
  line-height: var(--lineHeight);
  /* Grey/60 */
  color: #5e7080;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.Textarea_field__Ftq5y textarea:focus + label,
.Textarea_field__Ftq5y.Textarea_active__2E8pa textarea + label {
  opacity: 0;
  transform: translate(10px);
}

.Textarea_field__Ftq5y.Textarea_hasError__zNcHY textarea {
  border-color: #f44336;
}

.Textarea_error__2m7wH {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: #f44336;
}


/*# sourceMappingURL=main.ba96d46e.chunk.css.map*/