{
    "presets": [
      ["@babel/preset-env", 
        {
          "targets": 
          {
            "ie": "11" 
          } 
        }
      ], 
      ["@babel/react"]
    ],
    "plugins": [
        "@babel/plugin-transform-typescript",
        "babel-plugin-typescript-to-proptypes",
        "@babel/plugin-proposal-export-default-from",
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread"
    ]
  }