$font: "Helvetica Neue", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, sans-serif;

$primary: #ffdd00;
$primary-hover: #ffe74d;
$secondary: #2c343c;
$secondary-hover: #4c5a68;
